mgl-map {
  height: 100%;
  width: 100%;
}

.mapping {
  min-height: 300px;
}

.ui.mapbox {
  padding: 0;
  margin: 0;
  position: relative;
  max-height: 95vh;
  height: 95vh;
  width: 100vw;
  padding: 0em;
}
