<nav>

  <div
      class="ui inverted primary stackable pointing menu"
      #primary
  >
    <div class="ui container">
      <a
          class="ui header item"
          routerLink="/"
      >
        <!-- <div class="ui">
                    <i class="ui icons">
                        <i class="large red fire icon"></i>
                        <i class="white globe icon"></i>

                    </i>
                </div> -->
        <div class="header">DSS Metric Inspector</div>
      </a>
      <a
          class="item"
          *ngFor="let r of routes"
          [routerLink]="r.path"
          [routerLinkActive]="'active'"
          [routerLinkActiveOptions]="{exact:true}"
      ><i [class]="r.icon"></i> {{r.name}}</a>
      <div class="right menu">
        <a
            class="ui item"
            routerLink="profile"
            *ngIf="auth.loggedIn"
        ><i class="id card icon"></i> Profile</a>

        <a
            class="ui item"
            (click)="auth.login()"
            *ngIf="!auth.loggedIn"
        ><i class="sign in icon"></i> Log In</a>
        <a
            class="ui item"
            (click)="auth.logout()"
            *ngIf="auth.loggedIn"
        ><i class="sign out icon"></i>Log Out</a>
        <a
            class="ui item"
            routerLink="external-api"
            *ngIf="auth.loggedIn"
        ><i class="cloud icon"></i> API</a>

      </div>
    </div>
  </div>
</nav>
<article
    class="main"
    #main
>
  <router-outlet>

  </router-outlet>
</article>
<app-footer></app-footer>